.eventDetail {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.title {
	margin-bottom: 20px;
}

.image {
	width: 100%;
	height: auto;
	max-width: 600px; // optionally limit the maximum width of the image
}

.button {
	margin-top: 20px;
}

.descriptions {
	margin-top: 20px;
	text-align: left;
	width: 100%;
}
.imageContainer {
	display: flex;
	justify-content: center;
}
.participantGroup {
	display: block !important;
	.participant {
		margin-right: 5px;
	}
}
.buttonContainer {
	display: flex;
	justify-content: flex-end;
}
.tagContainer {
	display: block;
}
