.card {
	--background: #ffffff;
	--textColor: black;
	position: relative;
	margin: 2rem;
	height: 10rem;
	width: 12rem;
	box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.1); /* Shadow for the 
	card */
	/* Media query for xs screens */
	@media (max-width: 575.98px) {
		height: 8rem;
		width: 10rem;
		margin: 0;
	}
	.multi-button {
		z-index: 0;
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
		border-radius: 100%;
		width: 0rem;
		height: 0rem;
		transform: translate(-50%, -50%);
		transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
		@media (max-width: 575.98px) {
			transform: translate(-10%, -10%);
			z-index: 1;
		}

		button {
			display: grid;
			place-items: center;
			position: absolute;
			width: 2rem;
			height: 2rem;
			border: none;
			border-radius: 100%;
			box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 1); /* Shadow for the buttons */

			background: var(--background);
			mix-blend-mode: difference;
			color: var(--textColor);
			transform: translate(-50%, -50%);
			cursor: pointer;
			transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
			&:hover {
				background: var(--textColor);
				color: var(--background);
				box-shadow: 0 0 1rem -0.25rem var(--background);
			}
			&:first-child:nth-last-child(1) {
				//If there is 1 child
				left: 25%;
				top: 25%;
			}
			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(2) ~ * {
				//If there are 2 children
				&:nth-child(1) {
					left: 37.5%;
					top: 18.75%;
				}
				&:nth-child(2) {
					left: 18.75%;
					top: 37.5%;
				}
			}
			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(3) ~ * {
				//If there are 3 children
				&:nth-child(1) {
					left: 50%;
					top: 15.625%;
				}
				&:nth-child(2) {
					left: 25%;
					top: 25%;
				}
				&:nth-child(3) {
					left: 15.625%;
					top: 50%;
				}
			}
			&:first-child:nth-last-child(4), //If there are 4 children, if first child is also 4th item from bottom get self, and
                &:first-child:nth-last-child(4) ~ * {
				//If there are 4 children, if first child is also 4th item from bottom get siblings
				&:nth-child(1) {
					left: 62.5%;
					top: 18.75%;
				}
				&:nth-child(2) {
					left: 37.5%;
					top: 18.75%;
				}
				&:nth-child(3) {
					left: 18.75%;
					top: 37.5%;
				}
				&:nth-child(4) {
					left: 18.75%;
					top: 62.5%;
				}
			}
		}
	}
	.container {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
		background: var(--background);
		color: var(--textColor);
		box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.7); /* Shadow for the icon container */
		background-size: cover; /* Cover the entire container */
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		.title {
			position: absolute;
			bottom: 1rem;
			width: 100%;
			text-align: center;

			&::before {
				content: attr(data-title); // Use a data attribute to set the title text
				display: block;
				font-size: 1.5rem;
				font-weight: bold;
				color: white; // Set the text color to white
				background-color: transparent; // Set the background color to black
				// mix-blend-mode: difference; // Apply the difference blend mode
			}
		}
	}

	&:hover .multi-button,
	.multi-button:focus-within {
		//Hover or a button inside is focused
		width: 10rem;
		height: 10rem;
	}
}
