.voiceCard {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.avatarWrapper {
	margin-bottom: 1em;
}

.avatar {
	width: 80px;
	height: 80px;
}

.audioWrapper {
	margin-top: 2em;
	width: 100%;
	padding: 10px;
}

.audio {
	width: 100%;
}
.listItem {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.listItem .ant-list-item-meta-title {
	font-weight: bold;
}

.listItem .ant-list-item-meta-description {
	text-align: right;
}
